body{
	margin: 0;
	padding: 0;
	font-family: "Roboto",sans-serif;
    color: #000;
    font-size: 1.4em;
    
    
    list-style: none;
}

.container-loader{
	position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
	z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: center;
	background-color : rgba(255,255,255,0.77);
    animation: loader .01s; 
    animation-delay: 1s;
	animation-fill-mode: both;
}
.loader {
	border: 16px solid #FF79DA; 
	border-top: 16px solid #9356DC; 
	border-radius: 50%;
	width: 120px;
	height: 120px;
	animation: spin 4s linear infinite;
  }
  
  @keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
  }
  @keyframes loader {
  100% {
    opacity: 0;
    z-index: -10;
  }
}
  */
h1 h2 h3 h4{
	font-family: 'Shrikhand', cursive;
}

.logo-bar{
	display: flex;
	justify-content: space-around;
	margin-top: 15px;
	padding-bottom: 10px;

}

.localisation-bar{
	display: flex;
	justify-content: center;
	background-color: #eaeaea;
	padding-top: 10px;
	padding-bottom: 11px;
}
.localisation-bar .fas{
	padding-right: 10px;
}

.container-main{
	background-color: #f7f7f7;
	padding-top: 20px;
	padding-bottom: 50px;
	text-align: center;	
}

.texte-main h2{
	display: flex;
	justify-content: center;


}
.texte-main p{
	display: flex;
	justify-content: center;
	color:grey ;
	padding-bottom: 5px;

}

.bouton{
	display: flex;
	justify-content: center;

}
.bouton input{
	 box-shadow: 0px 0px 12px #00000033;
	 background-image: linear-gradient(174deg, #FF79DA 0%, #9356DC 90%);
     color: #fff;
     border: 0 solid transparent;
     padding: 15px 25px;
     border-radius: 30px;
     font-size: 0.9em;
}
input:hover{
	background-image: linear-gradient(
187deg, #FF79DA 35%, #9356DC 103%);
    box-shadow: 0rem 0rem 12px rgb(0 0 0 / 50%);
}
.container-filter{
	padding-top: 20px;
	margin-left: 2rem;
	margin-right: 2rem;
	padding-bottom: 40px;
}
.filter-info{
	box-shadow: 0 0 20px #0000002e;
	display: flex;
	cursor: pointer;
	align-items: center;
	border-radius: 20px;
	padding: 0px 30px;
	margin-bottom: 15px;

}

.filter-info:hover{
	background-color: #EADAFD;
}
.filter-info .titlelogo .fas:hover{
	color: #9356dc;
}
.titlelogo .fas{
	margin-right: 14px;
    margin-left: 24px;;
    color: grey;

}
.number-filter{
	background-color: #9356dc;
    border-radius: 50px;
    width: 30px;
    height: 30px;
    margin-left: -42px;
    display: flex;
    justify-content: center;
    color: white;
}
.container-section{
    background-color: #f7f7f7;
	padding-bottom: 50px;
	padding-top: 20px;

}
.container-section h2{
	margin-left: 2rem;
	margin-right: 2rem;
}
.card{
	background: white;
	border-radius: 10px ;
	position: relative;
}
.card-resto{
	margin-left: 2rem;
	margin-right: 2rem;
	margin-bottom: 20px;
	
}
.card img{
	width: 100%;
	height: 253px;
	object-fit: cover;
	border-radius: 10px 10px 0px 0px ;
}
.card-info{
	margin-left: 10px;
	padding-bottom: 2px;
	position: relative;	
}
.card-info p{
	margin-top: -20px;
	font-size: 0.9em;
	;
}
.card-info h3{
	margin-top: 10px;
	font-size: 1.1em;
	padding-top: 5px;
}

.new{
	position: absolute;
	right: 1rem;
	top: 1rem;
	background-color: #99e2d0;
    color: #1b6150;
	
	padding-right: 10px;
    padding-left: 10px;

	
}
/*Coeur*/
.hover-heart{
	position: absolute;
	top: 0;
	right: 2em;	    
	font-size: 2rem;
}
.heart-vide{
position: absolute;
	
    opacity: 1;
}
.heart-plein{
    position: absolute;
	
    background: linear-gradient(#FF79DA, #9356DC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0;
}

.container-section .hover-heart:hover .heart-vide{
	opacity: 0;
    transition: 0.3s ease-in-out;
}

.container-section .hover-heart:hover .heart-plein {
    opacity: 1;
    transition: 0.3s ease-in-out;
}
/*Coeur*/

.footer-container{
	background-color: #354146;
	line-height: 0.8rem;
	padding-top: 15px;
	padding-bottom: 15px;
	color: white;

}
.footer-container h4{
	font-family: Shrikhand;
	 margin-left: 20px;
}
.footer-container  div,p{
	font-size: 0.5em;
	line-height: 0.8rem;
}
.footer-container  div,p,h4{
	font-size: 0.8em; 
}

.texte-footer{
	margin-left: 20px;
}
.footer-container .fas{
	    padding-right: 20px;
	    line-height: 1.8rem;
}
.marge-fas .fas.fa-utensils{
	margin-left: 6px;
}
.contact{
		color: white;	
		text-decoration: none;
		font-family: "Roboto",sans-serif;

	}

@media screen and (min-width: 840px) and (max-width: 2560px){
	.body{
		margin: 0;
		padding: 0;
		

	}
	.filter{
		text-align: center;
	}
	.filter .filter-info{
    display: inline-flex;
    flex-wrap: nowrap;
    margin-left: 50px;
    margin-right: 50px;
    }
    .container-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    }
    .h2-resto{
    display: inline-flex;
    width: 100%;
    justify-content: center;
    }
	.card img{
		width: 400px;
		height: 300px;
	}
	.footer-container{
		text-align: center;
	}
}
