body{
	margin: 0;
	padding: 0;
	font-family: "Roboto",sans-serif;
}
.back{
	position: absolute;
    font-size: 25px;
    left: 55px;
    color: black;
    cursor: pointer;
}
.logo-bar{
	display: flex;
	justify-content: space-around;
	margin-top: 15px;
	padding-bottom: 10px;
}
.background-class  {
	object-fit: cover;
}
article{
	margin-top: -3.8em;
    position: relative;
    background: white;
    border-radius: 50px;
    background: #f7f7f7;
}
.menu{
	padding-top: 30px;
    margin-left: 1em;
    margin-right: 1em;
	position: relative;
}
.menu-h2{
	font-family: 'Shrikhand', cursive;
	margin-left: 0.6em;
    margin-right: 1em
}
.menu-enoncer{
	margin-bottom: 40px;
	margin-left: 10px;
}
.title-enoncer{
	margin-left: 5px;
}
.title-enoncer-underline{
	border-top: 3px solid #99e2d0;
	width: 2rem;
	margin-top: -0.5rem;
	margin-left: 0.4rem;
	padding-bottom: 15px;
}
.menu-info{
	box-shadow: 0 0 20px #0000002e;
	border-bottom-left-radius: 20px;
	border-top-left-radius: 20px;
	padding-left: 10px;
	white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;	
	flex: 1;  
	background-color: #fff;
}


.menu-desc{
	margin-top: -15px;
	
}
.menu-price{
	display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right: 20px;
	align-items: center;
	padding-right: 20px;	
    padding-left: 20px;
	Background-color: white;
	border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
/*Le fameux tchek*/
.container-menus{	
display: flex;
border-top-right-radius: 20px;
border-bottom-right-radius: 20px;


}
.container-check{
	height: 100%;
	display: flex;
	align-items: center;
	width: 0;
	visibility: hidden;
	background-color: #99e2d0;
    margin-left: 25px;
	margin-right: -24px;
    justify-content: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
	
	
	
}
.check-img{
	height: 1.5em;
    width: 1.5em;
    background-color: #fff;
    padding-top: 4px;
    border-radius: 100px;
    padding-right: 2px;
    padding-left: 2px;
	transform: rotate(180deg);
    transition-duration: .5s;
	text-align: center;
	
	
	
	
}
.check-img .fas{
	color: #99e2d0;
	
	
}
.container-menus:hover .container-check{
	width: 6em;
	
    transition: 0.5s ease-in-out;	
	visibility: visible;
	
	
	
}
.container-menus:hover .check-img{
	transform: rotate(0);
	
    visibility: visible;
	
	
}
@keyframes rotateCheck {
	0% { transform: rotate(0deg) }
	100% { transform: rotate(360deg) }
}
	
	

/*Coeur*/
.hover-heart{
	position: absolute;
	
	font-size: 2rem;

}
.heart-vide{
position: absolute;
	bottom: 18px;
    left: 270px;
    opacity: 1;
}
.heart-plein{
position: absolute;
	bottom: 18px;
    left: 270px;
    background: linear-gradient(#FF79DA, #9356DC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0;
}

.container-menu .hover-heart:hover .heart-vide{
	opacity: 0;
    transition: 0.3s ease-in-out;
}

.container-menu .hover-heart:hover .heart-plein {
    opacity: 1;
    transition: 0.3s ease-in-out;
}

/*Coeur*/
.bouton{
	display: flex;
	justify-content: center;
	padding-bottom: 30px;


}
.bouton input{
	 box-shadow: 0px 0px 12px #00000033;
	 background-image: linear-gradient(174deg, #FF79DA 0%, #9356DC 90%);
     color: #fff;
     border: 0 solid transparent;
     padding: 20px 50px;
     border-radius: 30px;
     font-size: 0.9em;
     cursor: pointer;
     background-color:#fff;

}
input:hover{
	background-image: linear-gradient(
187deg, #FF79DA 35%, #9356DC 103%);;
    box-shadow: 0rem 0rem 12px rgb(0 0 0 / 50%)
}

.footer-container{
	background-color: #353535;;
	line-height: 0.8rem;
	padding-top: 10px;
	padding-bottom: 15px;
	color: white;

}
.footer-container h4{
	font-family: Shrikhand;
	 margin-left: 20px;
}
.footer-container  div,p{
	font-size: 0.5em;
	
}
.footer-container  div,p,h4{
	font-size: 0.8em; 
}

.texte-footer{
	margin-left: 20px;
}
.footer-container .fas{
	    padding-right: 10px;
	    line-height: 1.8rem;
}
.marge-fas .fas.fa-utensils{
	margin-left: 5px;
}
/*Animation de page*/
.container-menus{
	margin-bottom: 20px;
	animation: anim 2s forwards;
	
}


@keyframes anim {
	from {
	  transform: translatey(20px);
	  opacity: 0%;
	}
	to {
	  transform: translatey(0px);
	  opacity: 100%;
	}
	}

.animation-1{
animation-delay: 0.1s;
}
.animation-2{
animation-delay: 0.2s;
}
.animation-3{
	animation-delay: 0.3s;
}
.animation-4{
	animation-delay: 0.4s;
}
.animation-5{
	animation-delay: 0.5s;
}
.animation-6{
	animation-delay: 0.6s;
}
.animation-7{
	animation-delay: 0.7s;
}
.animation-8{
	animation-delay: 0.8s;
}
.animation-9{
	animation-delay: 0.9s;
}
.animation-10{
	animation-delay: 1.0s;
}
@media screen and (min-width: 1140px) and (max-width: 2560px){
	.body{
		margin: 0;
		padding: 0;
}
    article{
    max-width: 1600px;
    
    margin: auto;
    margin-top: -6em;
    }
    .background-class {
    	height: 550px;
    }
    .container-entrees{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
    }
	.title-enoncer-underline{
		display: block;
		
		margin-top: -5px;
	}
	.hover-heart{
		position: absolute;
		top: 1.5em;
        right: 2em;
		
	}
	.heart-vide{
		position: absolute;
		left: unset;
		bottom: unset;						
		}
		.heart-plein{
		position: absolute;	
		left: unset;
		bottom: unset;					
		}
	.footer-container{
		line-height: normal;
		text-align: center;

	}
	.contact{
		color: white;	
		text-decoration: none;
		font-family: "Roboto",sans-serif;

	}
}

